In [54]:
import numpy as np
import pandas as pd
import warnings

In [55]:
warnings.filterwarnings('ignore')

In [56]:
df = pd.read_csv("54339_104884_bundle_archive/HAM10000_metadata.csv")

In [57]:
from sklearn import preprocessing

In [58]:
label_encoder = preprocessing.LabelEncoder()

In [59]:
df['sex']= label_encoder.fit_transform(df['sex'])

In [60]:
df['dx']= label_encoder.fit_transform(df['dx'])

In [61]:
df['dx_type']= label_encoder.fit_transform(df['dx_type'])

In [62]:
df['localization']= label_encoder.fit_transform(df['localization'])

In [63]:
df

         lesion_id      image_id  dx  dx_type   age  sex  localization
0      HAM_0000118  ISIC_0027419   2        3  80.0    1            11
1      HAM_0000118  ISIC_0025030   2        3  80.0    1            11
2      HAM_0002730  ISIC_0026769   2        3  80.0    1            11
3      HAM_0002730  ISIC_0025661   2        3  80.0    1            11
4      HAM_0001466  ISIC_0031633   2        3  75.0    1             4
...            ...           ...  ..      ...   ...  ...           ...
10010  HAM_0002867  ISIC_0033084   0        3  40.0    1             0
10011  HAM_0002867  ISIC_0033550   0        3  40.0    1             0
10012  HAM_0002867  ISIC_0033536   0        3  40.0    1             0
10013  HAM_0000239  ISIC_0032854   0        3  80.0    1             5
10014  HAM_0003521  ISIC_0032258   4        3  70.0    0             2

[10015 rows x 7 columns]

In [64]:
df = df.drop(['lesion_id','image_id'],axis=1)

In [65]:
df

       dx  dx_type   age  sex  localization
0       2        3  80.0    1            11
1       2        3  80.0    1            11
2       2        3  80.0    1            11
3       2        3  80.0    1            11
4       2        3  75.0    1             4
...    ..      ...   ...  ...           ...
10010   0        3  40.0    1             0
10011   0        3  40.0    1             0
10012   0        3  40.0    1             0
10013   0        3  80.0    1             5
10014   4        3  70.0    0             2

[10015 rows x 5 columns]

In [72]:
df = df.dropna()

In [74]:
x = df.drop('dx',axis=1)
y = df['dx']

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [77]:
from sklearn.preprocessing import StandardScaler

In [78]:
sc = StandardScaler()  
x_train = sc.fit_transform(x_train)  
x_test = sc.transform(x_test)

In [79]:
from sklearn.naive_bayes import GaussianNB  
newmodel = GaussianNB()  
newmodel.fit(x_train, y_train)

GaussianNB()

In [81]:
y_pred = newmodel.predict(x_test)

In [82]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)

In [83]:
print(cm)

[[   0    0    0    0   80    0    0]
 [   0    2    0    0  136    0    0]
 [   0    0   45    1  186   24    0]
 [   0    0    2    0   20   14    0]
 [   0    2    0    0  279    0    0]
 [   0    1   14    0  649 1002    0]
 [   0    0    8    0    9   16    0]]